/* 
        POSITION & LAYOUT
    Static
            Html has it normal Default position  
    Relative
    Fixed
    Absolute
    Sticky
*/

body,
p,
h1,
h2,
ul {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    background-color: black;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
header h1 {
    color: white;
    border: 5px solid white;
    display: inline-block;
    padding: 6px 12px;
    margin: 10px;
    border-radius: 20px;
}
.banner {

    position: relative;
}
.banner img {
    width: 100%;
}
main ul {
    padding: 0;
}
main ul li img {
    width: 100%;
}

.welcome {
    background-color: rgb(26, 26, 26);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 25%;
    right: 0;
    color: white;
    padding: 26px;


    background: grey;
}
.banner h2 {
    font: 74px;
}
span {
    font-size: 1.3rem;
}

nav {
    background-color: gray;
    padding: 20px;
    position: sticky;
    top: 80px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav ul li {
    width: 28%;
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ded77e;
}

.join:hover {
    color: black;
}
@media screen and (min-width:900px) {
    .welcome {
        font-size: 30px;
        top: 25%;
    }
}
@media screen and (max-width:400px) {
    .welcome {

        top: 50%;
    }

}

@media screen and (max-width:390px) {
    .welcome {
        top: 50%;
    }
}